/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}
#header{
    
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color:#4b4a49;
    box-shadow: 0 20px 45px rgba(99, 5, 250, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
 }
.navigationbar { 
    display: flex;
    justify-content:space-between;
    align-items: center;
}
/* Style the navigation links */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.5s ease;
}

/* Hover effect for navigation links */
nav ul li a:hover,
    nav ul li a.active{
    color: #050505;
}
p{
    text-size-adjust: 600;
    padding-left: 40px;
    font-family: Luminari, fantasy;
}
h1{
    text-size-adjust: 600;
    padding-left: 40px;
    text-align: center;
}
#note{
   background-image: url("aboutme.jpg");
    background-size: cover;
    background-position: top 50% right 0;
    padding: 0 70px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}
/* Add more styles as needed */
